:root {
    --background-color: rgb(29, 31, 30);
    --foreground-color: aliceblue;
}

* {
    margin: 0;
    padding: 0;
}

html {
    /* width: 100%; */
    /* overflow-x: hidden; */
}

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: Helvetica, Sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10vw;
}

.page {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    perspective: 1px;
    perspective-origin: center center;
    position: relative;
    overflow-x: hidden;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

#parallax {
    transform-style: preserve-3d;
    height: 100vh;
}

.layer {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#layer-1 {
    background-image: url('images/layer01.png');
    transform: translate3d(0, -45px, .6px) scale(.5);
    background-size: cover;
}

#layer-2 {
    background-image: url('images/layer02.png');
    transform: translate3d(0, -50px, .2px) scale(.5);
    background-position: center left;
    background-size: auto;
}

#layer-3 {
    background-image: url('images/layer03.png');
    transform: translate3d(0, -180px, .25px) scale(0.8);
    background-position: center right;
    background-size: auto;
    right: 100px;
}

#layer-4 {
    background-image: url('images/layer04.png');
    transform: translate3d(0, -110px, .20px) scale(.5);
    background-position: center right;
    background-size: auto;
    right: 70px;
}

#layer-5 {
    background-image: url('images/layer05.png');
    transform: translate3d(0, -10px, .13px) scale(.2);
    background-position: center right;
    background-size: auto;
    /* left: 100px; */
}

#layer-99 {
    background-image: url('images/layer99.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.buffer {
    height: 100vh;
}

.content-sticked-to-first-layer {
    position: absolute;
    top: 99vh;
    background-color: var(--background-color);
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    left: 9px;
}

.headline {
    width: 100%;
    max-width: 100%;
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: hidden;

    text-align: center;
    font-size: 10vw;

    /* animation-name: pulse; */
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes pulse {
    0% {
        text-shadow: rgb(255, 0, 0) 0px 0px 0px;
        transform: scale(1);
    }

    50% {
        text-shadow: rgb(255, 0, 0) 3px 3px 50px;
        transform: scale(1.2);
    }

    100% {
        text-shadow: rgb(255, 0, 0) 0px 0px 0px;
        transform: scale(1);
    }
}

.info {
    width: 90%;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.text {
    max-width: 90%;
    background-color: var(--background-color);
    color: aliceblue;
    overflow-x: hidden;
    text-align: center;
}

#text1, #text2 {
    max-width: 90%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0rem 10vw;
    line-height: 2.5rem;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1rem;
}

#text1 {
    margin-top: 2rem;
}

#text2 {
    margin-top: 2rem;
}

.star {
    text-align: center;
    font-size: 2vw;

    animation-name: pulse;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.image-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 25%;
    opacity: 0.7;
}

.image-text {
    padding-top: 1rem;
    width: 25%;
    text-align: center;
}

@media(max-width: 1366px) {
    .content-sticked-to-first-layer {
        /* left: 0px; */
    }
}

@media(max-width: 620px) {
    .buffer {
        height: 120vh;
    }
}

@media(max-width: 500px) {
    .buffer {
        height: 150vh;
    }
}

@media(max-width: 410px) {
    .buffer {
        height: 180vh;
    }
}


@media(max-width: 300px) {
    .buffer {
        height: 185vh;
    }
}